.dark-window {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
}
.dark-window .inner-window {
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    min-width: 200px;
}
.inner-window .title {
    text-align: center;
    font-weight: bold;
}
.inner-window .content{
    padding: 0.5rem;
}