.article {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
.article .title{
    font-weight: bold;
}
.article .title-active{
    font-weight: bold;
    cursor: pointer;
}
.article .title-active:hover{
    color: red;
}
.article .actions{
    display: flex;
    justify-content: end;
}